p{
	font-family: 'Chelsea Market', cursive;
	text-align: justify;
	color: white;
	font-size: 40px;
}

#cat_menu,#g_menu,#p_menu{
	padding-left: 20px;
}

#t1jug_menu,#t2jug_menu,#r2_menu{
	padding-left: 30px;
}

#p1{
	font-family: 'Chelsea Market', cursive;
	text-align: justify;
	color: white;
	font-size: 70px;
}

label,input,button,#puntos,#puntos2{
	font-family: 'Chelsea Market', cursive;
	text-align: justify;
	color: white;
	font-size: 50px;
}

label,input,#formjug1_menu{
	padding-left: 25px;
}

button{
	background-color: transparent;
	border:none;
	font-size: 80px;
}

#c1,#c2,#c3,#c4,#c5,#c6,#c7,#c8{
	font-size: 30px;
	text-align: center;
	padding-left: 50px;
}

#ic1,#ic2,#ic3,#ic4,#ic5,#ic6,#ic7,#ic8{
	padding-left: 50px;
}

#idpuntos{
	text-align: center;
}

#t1jugicono,#t2jugicono{
	position: absolute;
	top:10px;
}

#t1jugcuerpo,#t2jugcuerpo{
	position: absolute;
	top:90px;
	left: 55px;
}

#t1jugbizq,#t2jugbizq{
	position: absolute;
	top:120px;
	margin-left:13px;
}

#t1jugbder,#t2jugbder{
	position: absolute;
	top:120px;
	left:60px;
}

#t1jugpizq,#t2jugpizq{
	position: absolute;
	top:280px;
	margin-left:15px;
}

#t1jugpder,#t2jugpder{
	position: absolute;
	top:280px;
	left:60px;
}

#la,#lb,#lc,#ld,#le,#lf,#lg,#lh,#li,#lj,#lk,#ll,#lm,#ln,#lo,#lp,#lq
,#lr,#ls,#lt,#lu,#lv,#lw,#lx,#ly,#lz,#lñ{
	font-size: 50px;
}

#la2,#lb2,#lc2,#ld2,#le2,#lf2,#lg2,#lh2,#li2,#lj2,#lk2,#ll2,#lm2,#ln2,#lo2,#lp2,#lq2
,#lr2,#ls2,#lt2,#lu2,#lv2,#lw2,#lx2,#ly2,#lz2,#lñ2{
	font-size: 50px;
}

#guiones,#guiones2{
	padding-left:65px;
}

#lblganaste{
	text-align: center;
	font-size: 60px;
}


canvas {
  background: transparent;
	display: block;
  left: 0;
  position: absolute;
  top: 0;
}


@media only screen and (max-width: 480px){
	#entrar,#titulo{
		width: 100px;
	}

	#btn1jug,#btn2jug,#btnopc,#btnayuda,#btncreditos{
		width: 100px;
		height: 50px;
	}
}

@media only screen and (max-width: 1070px){
	#titulo{
		width: 100px;
	}
}

@media only screen and (max-width: 947px){
	#entrar,#titulo{
		width: 100px;
	}
}

@media only screen and (max-width: 516px){
	#lblayuda{
		width: 100px;
	}
}

@media only screen and (max-width: 1000px){
	p{
		font-size: 20px;
	}
}

@media only screen and (max-width: 760px){
	#btnagrpalabras,#btncamicono{
		height: 50px;
	}
}

/* latin-ext */
@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: local('Chelsea Market'), local('ChelseaMarket-Regular'), url(fonts/qSdzwh2A4BbNemy78sJLfNpTH3z621gHHpxD-3b7j0o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}