p{
	font-family: 'Chelsea Market', cursive;
	text-align: justify;
	color: white;
	font-size: 40px;
}

#cat_menu,#t1jug_menu{
	padding-left: 20px;
}

#p1{
	font-family: 'Chelsea Market', cursive;
	text-align: justify;
	color: white;
	font-size: 70px;
}

label,input,button{
	font-family: 'Chelsea Market', cursive;
	text-align: justify;
	color: white;
	font-size: 50px;
}

label,input,#formjug1_menu{
	padding-left: 25px;
}

button{
	background-color: transparent;
	border:none;
	font-size: 80px;
}

#c1,#c2,#c3,#c4,#c5,#c6,#c7,#c8{
	font-size: 30px;
	text-align: center;
	padding-left: 50px;
}

#ic1,#ic2,#ic3,#ic4,#ic5,#ic6,#ic7,#ic8{
	padding-left: 50px;
}

#idpuntos{
	text-align: center;
}

@media only screen and (max-width: 480px){
	#entrar,#titulo{
		width: 100px;
	}

	#btn1jug,#btn2jug,#btnopc,#btnayuda,#btncreditos{
		width: 100px;
		height: 50px;
	}
}

@media only screen and (max-width: 1070px){
	#titulo{
		width: 100px;
	}
}

@media only screen and (max-width: 947px){
	#entrar,#titulo{
		width: 100px;
	}
}

@media only screen and (max-width: 516px){
	#lblayuda{
		width: 100px;
	}
}

@media only screen and (max-width: 1000px){
	p{
		font-size: 20px;
	}
}

@media only screen and (max-width: 760px){
	#btnagrpalabras,#btncamicono{
		height: 50px;
	}
}

/* latin-ext */
@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: local('Chelsea Market'), local('ChelseaMarket-Regular'), url(fonts/qSdzwh2A4BbNemy78sJLfNpTH3z621gHHpxD-3b7j0o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}