
			<section>
				<div class="columnas" id="c1">
					<h4> Número 1: </h4>
					<h4> Número 2: </h4>			
					<h4> Resultado: </h4>
				</div>
				<div class="columnas" id="c1">
					<br><br>
					<input id="num1" required>
					<br><br>
					<input id="num2" required>
					<h4 id="res"></h4>
				</div>
				
				<div class="columnas" id="c2">
					<br><br><br><br>
					<input id="btnSuma" type="button" value="+" class="opr">
					<input id="btnResta" type="button" value="-" class="opr">
					<input id="btnDivision" type="button" value="/" class="opr">
					<input id="btnMultiplicacion" type="button" value="*" class="opr">
				</div>
				<div class="columnas">
					<br>
					<img src="http://stream1.gifsoup.com/view3/2153406/alan-blackjack-o.gif" id="gif">
				</div>
			</section>
