|<!DOCTYPE HTML>
<html>
<head>
<title>Tienda Veh&iacute;culos</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'> 
<!--slider-->
<script src="js/jquery.min.js"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/script2.js" type="text/javascript"></script>
<script src="js/superfish.js"></script>
</head>
<body>
<div class="header-bg">
	<div class="wrap"> 
		<div class="h-bg">
			<div class="total">
				<div class="header"><div class="clear"></div> 
					<div class="header-bot">
						<div class="logo">
							<a href="index.php"><img src="images/logo.png" /></a>
						</div>
						<div class="logo2" >
							<p id="user_loggeado"></p>
						</div>
					<div class="clear"></div> 
				</div>		
		</div>	
		<div class="menu"> 	
			<div class="top-nav"> 
					<ul>
						<li><a href="index.php">Inicio</a></li>
						<li><a href="index.php?action=catalogo">Cat&aacute;logo Veh&iacute;culos</a></li>
						<li><a href="index.php?action=ofertar">Ofertar</a></li>
						<li><a href="index.php?action=carro_compras">Carro compras</a></li>
						<li><a href="index.php?action=iniciosesion_registro">Inicio sesi&oacute;n/Registro</a></li>
						<li><img src="images/cerrar_sesion.png"  width="56px" height="60px" id="cerrar_sesion"/></li>
					</ul>
					<div class="clear"></div> 
				</div>
		</div>
		
