
		<section>
			<div class="columnas">
				<img class="img-columna" src="images/campus2.png">
				<p>El campus dos esta ubicado en la calle A. Garc&iacute;a Cubas, adem&aacute;s se ofrecen las carreras de
				... Sistemas, Inform&aacute;tica, etc.</p>
			</div>
			<div class="columnas">
				<img class="img-columna" src="images/chat-online.png">
				<p>Puedes contactarnos mediante nuestro chat online, pero solo en horario de trabajo, no te olvides 
				que somos bur&oacute;cratas.</p>
			</div>
			<div class="columnas">
				<img class="img-columna" src="images/autobus.png">
				<p>Aqu&iacute; puedes consultar los horarios del lince-bus, etc.</p>
			</div>
		</section>

		<footer>
			<div> Todos los derechos reservados ITC &copy; 2015 </div>
			<div> Contacto: 
				<a href = "mailto:webmaster@itcelaya.edu.mx"> 
					webmaster@itcelaya.edu.mx</a><br>
				<a href = "http://itcelata.edu.mx"> P&aacute;gina ITC</a>
				
			</div>
		</footer>
	</div>
</body>
</html>
