<ul class="alumnos">
	<li><a href="alumnos.php?no_control=10030963">10030963</a></li>
	<li><a href="alumnos.php?no_control=12030806">12030806</a></li>
	<li><a href="alumnos.php?no_control=12030774">12030774</a></li>
	<li><a href="alumnos.php?no_control=12030787">12030787</a></li>
	<li><a href="alumnos.php?no_control=12030106">12030106</a></li>
	<li><a href="alumnos.php?no_control=12030766">12030766</a></li>
	<li><a href="alumnos.php?no_control=12030765">12030765</a></li>
	<li><a href="alumnos.php?no_control=11030759">11030759</a></li>
	<li><a href="alumnos.php?no_control=12030296">12030296</a></li>
	<li><a href="alumnos.php?no_control=11030895">11030895</a></li>
	<li><a href="alumnos.php?no_control=10030525">10030525</a></li>
	<li><a href="alumnos.php?no_control=12030899">12030899</a></li>
	<li><a href="alumnos.php?no_control=12030798">12030798</a></li>
	<li><a href="alumnos.php?no_control=12030811">12030811</a></li>
	<li><a href="alumnos.php?no_control=12030786">12030786</a></li>
	<li><a href="alumnos.php?no_control=12040001">12040001</a></li>
	<li><a href="alumnos.php?no_control=12030820">12030820</a></li>
	<li><a href="alumnos.php?no_control=12030763">12030763</a></li>
	<li><a href="alumnos.php?no_control=12030759">12030759</a></li>
	<li><a href="alumnos.php?no_control=12030775">12030775</a></li>
	<li><a href="alumnos.php?no_control=12030816">12030816</a></li>
	<li><a href="alumnos.php?no_control=11030385">11030385</a></li>
	<li><a href="alumnos.php?no_control=12030829">12030829</a></li>
	<li><a href="alumnos.php?no_control=12030319">12030319</a></li>
	<li><a href="alumnos.php?no_control=11030621">11030621</a></li>
	<li><a href="alumnos.php?no_control=11030898">11030898</a></li>
	<li><a href="alumnos.php?no_control=11030888">11030888</a></li>
	<li><a href="alumnos.php?no_control=11030740">11030740</a></li>
	<li><a href="alumnos.php?no_control=12030858">12030858</a></li>
	<li><a href="alumnos.php?no_control=12030824">12030824</a></li>
	<li><a href="alumnos.php?no_control=11030953">11030953</a></li>
</ul>


<div class="detalle_alumno">
	Detalle
</div>
