<div class="container">
  <h3 align="center">ALTA PROPIETARIOS</h3><br><br>
  <form class="form-horizontal" id="form_alta_propietarios">
    <div class="form-group">
      <label for="nombre" class="col-sm-2 control-label">Nombre * :</label>
      <div class="col-sm-5">
      <input type="text" class="form-control" id="nombre" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="apellidos" class="col-sm-2 control-label">Apellidos * :</label>
      <div class="col-sm-5">
      <input type="text" class="form-control" id="apellidos" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="domicilio" class="col-sm-2 control-label">Domicilio:</label>
      <div class="col-sm-5">
      <input type="text" class="form-control" id="domicilio"/>
      </div>
    </div>

    <div class="form-group">
      <label for="telefono" class="col-sm-2 control-label">Telefono:</label>
      <div class="col-sm-5">
      <input type="tel" size="10" class="form-control" id="telefono"/>
      </div>
    </div>
    
    <div class="form-group">
      <span for="Puesto" class="col-sm-2 control-label">Elige:</span>
      <div class="col-sm-5">
      <select id="Puesto" class="form-control" value="Elegir">
        <option>Maestro</option>
        <option>Alumno</option>
        <option>Empleado Administrativo</option>
      </select>
      </div>
    </div>

    <div class="form-group">
      <label for="no_licencia" class="col-sm-2 control-label">No. Licencia * :</label>
      <div class="col-sm-5">
      <input type="text" class="form-control" id="no_licencia" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="tarjeta_circulacion" class="col-sm-2 control-label">Tarjeta Circulaci&oacute;n * :</label>
      <div class="col-sm-5">
      <input type="text" class="form-control" id="tarjeta_circulacion" required/>
      </div>
    </div>
    
    <div class="form-group">
    <div class="col-sm-5" align="center">
      <input class="btn btn-success" type="submit" value="Registrar" id="btn_alta_propietarios">
    </div>
    </div>
    
</form> 
</div>
<br><br>